In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
493,tt1220634,60000000,296221663,Resident Evil: Afterlife,Milla Jovovich|Wentworth Miller|Ali Larter|Kim...,Paul W.S. Anderson,She's back...And she's bringing a few of her f...,"In a world ravaged by a virus infection, turni...",97,Action|Adventure|Horror|Science Fiction,Impact Pictures|Davis-Films|Constantin Film Pr...,9/9/2010,5.8,2010
1804,tt0120755,125000000,546388105,Mission: Impossible II,Tom Cruise|Dougray Scott|Thandie Newton|Ving R...,John Woo,Expect the impossible again,With computer genius Luther Stickell at his si...,123,Adventure|Action|Thriller,Paramount Pictures|Cruise/Wagner Productions|M...,5/23/2000,5.8,2000
1873,tt0160009,40000000,30199105,The Art of War,Wesley Snipes|Donald Sutherland|Maury Chaykin|...,Christian Duguay,Who is your foe?,When ruthless terrorists threaten to bring dow...,117,Action|Adventure|Thriller,Amen Ra Films|Franchise Pictures|Warner Bros.|...,8/23/2000,5.7,2000
1771,tt0374563,17000000,2626800,Captivity,Elisha Cuthbert|Daniel Gillies|Pruitt Taylor V...,Roland JoffÃ©,When You Think The Worst Has Happened... Think...,"The sought-after images of top model, Jennifer...",96,Crime|Horror|Thriller,Foresight Unlimited|RAMCO|Captivity Productions,6/22/2007,4.5,2007
1262,tt1711425,13000000,48065672,21 & Over,Miles Teller|Skylar Astin|Justin Chon|Sarah Wr...,Scott Moore|Jon Lucas,Finally.,Brilliant student Jeff Chang has the most impo...,93,Comedy,Relativity Media|Virgin Produced|Mandeville Fi...,3/1/2013,5.7,2013

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# Проверка дублей

In [6]:
"""Проверка фильмов с одинаковым названием"""
title_list = data.original_title.value_counts()
double_title = title_list.loc[title_list > 1]
double_title

The Gift          2
Fantastic Four    2
Name: original_title, dtype: int64

In [7]:
"""Вывод строк датасета с фильмами, имеющих одинаковое название"""
for movies in double_title.index:
    display(data[(data.original_title == movies)])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
75,tt4178092,5000000,58978653,The Gift,Jason Bateman|Rebecca Hall|Joel Edgerton|David...,Joel Edgerton,Not every gift is welcome.,A husband and wife try to reinvigorate their r...,108,Thriller|Mystery,Blumhouse Productions|Blue-Tongue Films|STX En...,7/30/2015,6.6,2015
1834,tt0219699,10000000,12008642,The Gift,Cate Blanchett|Giovanni Ribisi|Keanu Reeves|Ka...,Sam Raimi,The only witness to the crime was not even there.,When a local woman disappears and the police c...,111,Horror|Drama|Thriller|Mystery,Lakeshore Entertainment|Alphaville Films,12/22/2000,6.2,2000

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
55,tt1502712,120000001,167977596,Fantastic Four,Miles Teller|Kate Mara|Michael B. Jordan|Jamie...,Josh Trank,Change is coming.,Four young outsiders teleport to a dangerous u...,100,Action|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Marv Fi...,8/5/2015,4.4,2015
1322,tt0120667,100000000,330579719,Fantastic Four,Ioan Gruffudd|Jessica Alba|Chris Evans|Michael...,Tim Story,4 times the action. 4 times the adventure. 4 t...,"During a space voyage, four scientists are alt...",106,Action|Adventure|Fantasy|Science Fiction,Twentieth Century Fox Film Corporation|1492 Pi...,7/7/2005,5.6,2005

In [8]:
"""Проверка фильмов с одинаковым актёрским составом"""
cast_list = data.cast.value_counts()
double_cast = cast_list.loc[cast_list > 1]
double_cast

Elijah Wood|Ian McKellen|Viggo Mortensen|Liv Tyler|Orlando Bloom                    3
Jennifer Lawrence|Josh Hutcherson|Liam Hemsworth|Woody Harrelson|Elizabeth Banks    3
Ioan Gruffudd|Jessica Alba|Chris Evans|Michael Chiklis|Julian McMahon               2
Martin Freeman|Ian McKellen|Richard Armitage|Ken Stott|Graham McTavish              2
Bradley Cooper|Ed Helms|Zach Galifianakis|Justin Bartha|Ken Jeong                   2
Patrick Stewart|Hugh Jackman|Ian McKellen|Halle Berry|Famke Janssen                 2
Mike Myers|Eddie Murphy|Cameron Diaz|Julie Andrews|Antonio Banderas                 2
Kristen Stewart|Robert Pattinson|Taylor Lautner|Ashley Greene|Peter Facinelli       2
Ewan McGregor|Natalie Portman|Hayden Christensen|Ian McDiarmid|Samuel L. Jackson    2
Name: cast, dtype: int64

In [9]:
"""Вывод строк датасета с фильмами, имеющих одинаковый актёрский состав"""
for cast in double_cast.index:
    display(data[(data.cast == cast)])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
496,tt0120737,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2001,7.8,2001
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
19,tt1951266,160000000,650523427,The Hunger Games: Mockingjay - Part 2,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,The fire will burn forever.,"With the nation of Panem in a full scale war, ...",136,War|Adventure|Science Fiction,Studio Babelsberg|StudioCanal|Lionsgate|Walt D...,11/18/2015,6.5,2015
991,tt1392170,75000000,691210692,The Hunger Games,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Gary Ross,May The Odds Be Ever In Your Favor.,Every year in the ruins of what was once North...,142,Science Fiction|Adventure|Fantasy,Lionsgate|Color Force,3/12/2012,6.7,2012
1182,tt1951264,130000000,847423452,The Hunger Games: Catching Fire,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,Every revolution begins with a spark.,Katniss Everdeen has returned home safe after ...,146,Science Fiction|Thriller|Action|Adventure,Lionsgate|Color Force,11/15/2013,7.4,2013

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1322,tt0120667,100000000,330579719,Fantastic Four,Ioan Gruffudd|Jessica Alba|Chris Evans|Michael...,Tim Story,4 times the action. 4 times the adventure. 4 t...,"During a space voyage, four scientists are alt...",106,Action|Adventure|Fantasy|Science Fiction,Twentieth Century Fox Film Corporation|1492 Pi...,7/7/2005,5.6,2005
1699,tt0486576,130000000,289047763,4: Rise of the Silver Surfer,Ioan Gruffudd|Jessica Alba|Chris Evans|Michael...,Tim Story,Discover the secret of the Surfer.,The Fantastic Four return to the big screen as...,92,Adventure|Fantasy|Action|Thriller,Ingenious Film Partners|Twentieth Century Fox ...,6/13/2007,5.4,2007

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
123,tt2310332,250000000,955119788,The Hobbit: The Battle of the Five Armies,Martin Freeman|Ian McKellen|Richard Armitage|K...,Peter Jackson,Witness the defining chapter of the Middle-Ear...,Immediately after the events of The Desolation...,144,Adventure|Fantasy,WingNut Films|New Line Cinema|3Foot7|Metro-Gol...,12/10/2014,7.1,2014
1186,tt1170358,250000000,958400000,The Hobbit: The Desolation of Smaug,Martin Freeman|Ian McKellen|Richard Armitage|K...,Peter Jackson,Beyond darkness... beyond desolation... lies t...,"The Dwarves, Bilbo and Gandalf have successful...",161,Adventure|Fantasy,WingNut Films|New Line Cinema|Metro-Goldwyn-Ma...,12/11/2013,7.6,2013

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
743,tt1411697,80000000,254455986,The Hangover Part II,Bradley Cooper|Ed Helms|Zach Galifianakis|Just...,Todd Phillips,The Wolfpack Is Back,The Hangover crew heads to Thailand for Stu's ...,102,Comedy,Legendary Pictures|Living Films|Green Hat Film...,5/25/2011,6.1,2011
1223,tt1951261,103000000,362000072,The Hangover Part III,Bradley Cooper|Ed Helms|Zach Galifianakis|Just...,Todd Phillips,It all ends.,"This time, there's no wedding. No bachelor par...",100,Comedy,Legendary Pictures|Green Hat Films,5/23/2013,6.0,2013

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1172,tt0290334,110000000,214948780,X2,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,The time has come for those who are different ...,Professor Charles Xavier and his team of genet...,133,Adventure|Action|Science Fiction|Thriller,Twentieth Century Fox Film Corporation|Donners...,4/24/2003,6.7,2003
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1575,tt0298148,150000000,919838758,Shrek 2,Mike Myers|Eddie Murphy|Cameron Diaz|Julie And...,Andrew Adamson|Kelly Asbury|Conrad Vernon,Once upon another time...,"Shrek, Fiona and Donkey set off to Far, Far Aw...",93,Adventure|Animation|Comedy|Family|Fantasy,DreamWorks SKG|Pacific Data Images (PDI)|Dream...,5/19/2004,6.5,2004
1690,tt0413267,160000000,798958165,Shrek the Third,Mike Myers|Eddie Murphy|Cameron Diaz|Julie And...,Chris Miller|Raman Hui,Who's ready for Thirds?,The King of Far Far Away has died and Shrek an...,93,Fantasy|Adventure|Animation|Comedy|Family,DreamWorks Animation,5/17/2007,5.8,2007

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
408,tt1325004,68000000,698491347,The Twilight Saga: Eclipse,Kristen Stewart|Robert Pattinson|Taylor Lautne...,David Slade,It all begins ... With a choice.,Bella once again finds herself surrounded by d...,124,Adventure|Fantasy|Drama|Romance,Summit Entertainment|Maverick Films|Imprint En...,6/23/2010,5.9,2010
751,tt1324999,110000000,712171856,The Twilight Saga: Breaking Dawn - Part 1,Kristen Stewart|Robert Pattinson|Taylor Lautne...,Bill Condon,Forever is just the beginning,The new found married bliss of Bella Swan and ...,117,Adventure|Fantasy|Romance,Summit Entertainment|Sunswept Entertainment|To...,3/15/2011,5.8,2011

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
869,tt0121765,120000000,649398328,Star Wars: Episode II - Attack of the Clones,Ewan McGregor|Natalie Portman|Hayden Christens...,George Lucas,A Jedi Shall Not Know Anger. Nor Hatred. Nor L...,"Ten years after the invasion of Naboo, the gal...",142,Adventure|Action|Science Fiction,Lucasfilm,5/15/2002,6.4,2002
1318,tt0121766,113000000,850000000,Star Wars: Episode III - Revenge of the Sith,Ewan McGregor|Natalie Portman|Hayden Christens...,George Lucas,The saga is complete.,"Years after the onset of the Clone Wars, the n...",140,Science Fiction|Adventure|Action,Lucasfilm,5/17/2005,7.0,2005

In [10]:
"""Проверка фильмов с одинаковым слоганом"""
tagline_list = data.tagline.value_counts()
double_tagline=tagline_list.loc[tagline_list>1]
double_tagline

Worlds Collide                                2
The only way out is down.                     2
What could go wrong?                          2
One ordinary couple. One little white lie.    2
Based on the Best Selling Novel               2
Based on a true story.                        2
Misery loves family.                          2
Inspired by True Events                       2
There are no clean getaways.                  2
Name: tagline, dtype: int64

In [11]:
"""Вывод строк датасета с фильмами с одинаковым слоганом"""
for tagline in double_tagline.index:
    display(data[(data.tagline == tagline)])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
43,tt2224026,135000000,368871007,Home,Jim Parsons|Rihanna|Steve Martin|Jennifer Lope...,Tim Johnson,Worlds Collide,When Earth is taken over by the overly-confide...,94,Fantasy|Comedy|Animation|Science Fiction|Family,Twentieth Century Fox Film Corporation|DreamWo...,3/18/2015,6.9,2015
397,tt0814255,95000000,226497209,Percy Jackson & the Olympians: The Lightning T...,Logan Lerman|Brandon T. Jackson|Alexandra Dadd...,Chris Columbus,Worlds Collide,"Accident prone teenager, Percy discovers he's ...",118,Adventure|Fantasy|Family,Ingenious Film Partners|1492 Pictures|Dune Ent...,2/1/2010,6.0,2010

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
206,tt2870612,5000000,40100000,"As Above, So Below",Perdita Weeks|Ben Feldman|Edwin Hodge|FranÃ§oi...,John Erick Dowdle,The only way out is down.,When a team of explorers ventures into the cat...,93,Horror|Thriller,Legendary Pictures,8/14/2014,6.1,2014
838,tt0881320,30000000,108609310,Sanctum,Ioan Gruffudd|Richard Roxburgh|Alice Parkinson...,Alister Grierson,The only way out is down.,"The 3-D action-thriller Sanctum, from executiv...",108,Action|Thriller,Universal Pictures|Wayfare Entertainment|Sanct...,2/3/2011,5.7,2011

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
72,tt1524930,31000000,104384188,Vacation,Ed Helms|Christina Applegate|Skyler Gisondo|St...,John Francis Daley|Jonathan M. Goldstein,What could go wrong?,Hoping to bring his family closer together and...,99,Adventure|Comedy,New Line Cinema|BenderSpink|David Dobkin Produ...,7/28/2015,6.1,2015
233,tt3014666,5000000,10429707,Moms' Night Out,Sarah Drew|Sean Astin|Patricia Heaton|Logan Wh...,Andrew Erwin|Jon Erwin,What could go wrong?,"Yearning for an evening without their kids, so...",98,Comedy,TriStar Pictures|Provident Films|Pure Flix Ent...,3/25/2014,5.7,2014

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
406,tt1279935,55000000,152263880,Date Night,Steve Carell|Tina Fey|Mark Wahlberg|Taraji P. ...,Shawn Levy,One ordinary couple. One little white lie.,The mild-mannered married couple Phil and Clai...,97,Comedy,Twentieth Century Fox Film Corporation|Dune En...,4/8/2010,5.9,2010
893,tt0276751,27000000,129000000,About a Boy,Hugh Grant|Nicholas Hoult|Toni Collette|Rachel...,Chris Weitz|Paul Weitz,One ordinary couple. One little white lie.,Will Freeman is a hip Londoner who one day rea...,101,Drama|Comedy|Romance,Universal Pictures,4/26/2002,6.4,2002

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
210,tt0900387,15000000,9104716,Suite FranÃ§aise,Michelle Williams|Kristin Scott Thomas|Matthia...,Saul Dibb,Based on the Best Selling Novel,"France, 1940. In the first days of occupation,...",107,Drama|Romance|War,Qwerty Films|Alliance Films|Canal+|TF1 Droits ...,11/5/2014,6.9,2014
350,tt1078588,30000000,95714875,My Sister's Keeper,Cameron Diaz|Alec Baldwin|Abigail Breslin|Joan...,Nick Cassavetes,Based on the Best Selling Novel,Sara and Brian live an idyllic life with their...,109,Drama,Mark Johnson Productions|Gran Via Productions|...,6/26/2009,7.0,2009

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1154,tt0340855,8000000,60378584,Monster,Charlize Theron|Christina Ricci|Bruce Dern|Lee...,Patty Jenkins,Based on a true story.,Aileen Wuornos is an emotionally scarred highw...,110,Crime|Drama,Newmarket Films,11/16/2003,6.8,2003
1269,tt2171867,11000000,3639345,Empire State,Liam Hemsworth|Dwayne Johnson|Emma Roberts|Nik...,Dito Montiel,Based on a true story.,"After failing to get into the police academy, ...",94,Action|Drama,Grindstone Entertainment Group|Cheetah Vision|...,9/3/2013,5.0,2013

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1292,tt1322269,25000000,74188937,August: Osage County,Meryl Streep|Julia Roberts|Chris Cooper|Ewan M...,John Wells,Misery loves family.,A look at the lives of the strong-willed women...,121,Comedy|Drama,Jean Doumanian Productions|Smokehouse Pictures,12/26/2013,6.8,2013
1579,tt0290002,80000000,516642939,Meet the Fockers,Ben Stiller|Teri Polo|Robert De Niro|Dustin Ho...,Jay Roach,Misery loves family.,"Hard-to-crack ex-CIA man, Jack Byrnes and his ...",115,Comedy|Romance,DreamWorks SKG|Universal Pictures|Everyman Pic...,12/15/2004,6.1,2004

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1003,tt1606389,30000000,196114570,The Vow,Rachel McAdams|Channing Tatum|Sam Neill|Scott ...,Michael Sucsy,Inspired by True Events,Happy young married couple Paige (McAdams) and...,104,Drama|Romance,Spyglass Entertainment|Screen Gems,2/5/2012,6.9,2012
1492,tt0454921,55000000,307077295,The Pursuit of Happyness,Will Smith|Jaden Smith|Thandie Newton|Brian Ho...,Gabriele Muccino,Inspired by True Events,"The true story of Christopher Gardner, who inv...",117,Drama,Columbia Pictures Corporation|Escape Artists|R...,12/14/2006,7.5,2006

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
721,tt0780504,15000000,76175166,Drive,Ryan Gosling|Carey Mulligan|Christina Hendrick...,Nicolas Winding Refn,There are no clean getaways.,A mysterious Hollywood stuntman who moonlights...,100,Drama|Action|Thriller|Crime,Bold Films|Marc Platt Productions|Odd Lot Ente...,1/10/2011,7.3,2011
1673,tt0477348,25000000,171600000,No Country for Old Men,Tommy Lee Jones|Javier Bardem|Josh Brolin|Wood...,Joel Coen|Ethan Coen,There are no clean getaways.,"Llewelyn Moss stumbles upon dead bodies, $2 mi...",122,Crime|Drama|Thriller,Miramax Films|Scott Rudin Productions|Paramoun...,11/8/2007,7.6,2007

#### Проверка дублей покзазала, что
#### строки с повторяющимися элементами это не дубли,
#### а либо части фильмов, либо разные фильмы.

# Добавление новых столбцов

In [12]:
"""Добавление колонки с прибылью"""


def score_profit(revenue, budget):
    profit = revenue - budget
    return profit


data['profit'] = data.apply(lambda x: score_profit(x.revenue, x.budget),
                            axis=1)

In [13]:
"""Добавление колонки с месяцем релиза"""
data['release_month'] = pd.DatetimeIndex(data['release_date']).month

In [14]:
"""Добавление колонки с сезоном релиза"""


def season(month):
    if 3<=month<=5:
        return 'spring'
    elif 6<=month<=8:
        return 'summer'
    elif 9<=month<=11:
        return 'autumn'
    else:
        return 'winter'

    
data['release_season']=data.release_month.apply(season)

In [15]:
"""Добавление колонки с длиной названия фильма"""
data['title_length'] = data.original_title.str.len()

In [16]:
"""Добавление колонки с количеством слов в названии фильма"""
data['overview_word'] = data.overview.str.count(' ') + 1

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [17]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

ВАРИАНТ 1

In [18]:
data[(data.budget == data.budget.max())].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [19]:
data.iloc[data.budget.idxmax()].original_title

'Pirates of the Caribbean: On Stranger Tides'

In [20]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [21]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

ВАРИАНТ 1

In [22]:
data[(data.runtime == data.runtime.max())].original_title

1157    Gods and Generals
Name: original_title, dtype: object

ВАРИАНТ 2

In [23]:
data.iloc[data.runtime.idxmax()].original_title

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [24]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

ВАРИАНТ 1

In [25]:
data[(data.runtime == data.runtime.min())].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

ВАРИАНТ 2

In [26]:
data.iloc[data.runtime.idxmin()].original_title

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [27]:
answers['4'] = '2. 110'

In [28]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [29]:
answers['5'] = '1. 107'

In [30]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [31]:
answers['6'] = '5. Avatar (tt0499549)'

ВАРИАНТ 1

In [32]:
data[(data.profit == data.profit.max())].original_title

239    Avatar
Name: original_title, dtype: object

ВАРИАНТ 2

In [33]:
data.iloc[data.profit.idxmax()].original_title

'Avatar'

# 7. Какой фильм самый убыточный?

In [34]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

ВАРИАНТ 1

In [35]:
data[(data.profit == data.profit.min())].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

ВАРИАНТ 2

In [36]:
data.iloc[data.profit.idxmin()].original_title

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [37]:
answers['8'] = '1. 1478'

In [38]:
data[(data.revenue > data.budget)].shape

(1478, 19)

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [39]:
answers['9'] = '4. The Dark Knight (tt0468569)'

ВАРИАНТ 1

In [40]:
movies_2008 = data[(data.release_year == 2008)]  # фильмы 2008 года
max_profit = movies_2008.profit.max()
data[(data.profit == max_profit)].original_title

599    The Dark Knight
Name: original_title, dtype: object

ВАРИАНТ 2

In [41]:
movies_2008.sort_values(['profit'], ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,release_season,title_length,overview_word
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,summer,15,67

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

ВАРИАНТ 1

In [42]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [43]:
data_10 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]  # фильмы между 2012 и 2014 года
min_profit = data_10.profit.min()
data[(data.profit == min_profit)].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

ВАРИАНТ 2

In [44]:
data_10.sort_values(['profit']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,release_season,title_length,overview_word
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,summer,15,68

# 11. Какого жанра фильмов больше всего?

In [45]:
answers['11'] = '3. Drama'

In [46]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 1

In [47]:
Counter(data.genres.str.cat(sep='|').split('|')).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [48]:
genres_list = pd.Series(data.genres.str.cat(sep='|').split('|')).value_counts()  # серия частоты жанров в датасете
genres_list.index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [49]:
answers['12'] = '1. Drama'

ВАРИАНТ 1

In [50]:
data_profit = data[(data.profit > 0)]  # прибыльные жанры
Counter(data_profit.genres.str.cat(sep='|').split('|')).most_common(1)

[('Drama', 560)]

ВАРИАНТ 2

In [51]:
genres_profit = pd.Series(
    data_profit.genres.str.cat(sep='|').split('|')).value_counts()  # прибыльные жанры
genres_profit.index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [52]:
answers['13'] = '5. Peter Jackson'

In [53]:
pivot_data = data.pivot_table(values=['profit'],
                              index=['director'],
                              aggfunc='sum')  # свобная таблица с прибылью режиссёров
pivot_data.sort_values(['profit'], ascending=False)

                              profit
director
Peter Jackson             5202593685
David Yates               3379295625
Christopher Nolan         3162548502
J.J. Abrams               2839169916
Michael Bay               2760938960
...                              ...
Walter Hill|Jack Sholder   -75171919
David Bowers|Sam Fell      -84540684
Peter Hyams                -86956545
Ron Underwood              -92896027
James L. Brooks            -96289726

[957 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [54]:
answers['14'] = '3. Robert Rodriguez'

In [55]:
data_action = data[data.genres.str.contains("Action")]  # фильмы в жанре Action
Counter(data_action.director.str.cat(sep='|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [56]:
answers['15'] = '3. Chris Hemsworth'

In [57]:
max_revenue = data[(data.release_year == 2012)].revenue.max()
list(data[(data.revenue == max_revenue)].cast)

['Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson']

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [58]:
answers['16'] = '3. Matt Damon'

In [59]:
data_cast = data[(data.budget > data.budget.mean())]  # высокобюджетные фильмы
Counter(data_cast.cast.str.cat(sep='|').split('|')).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [60]:
answers['17'] = '2. Action'

In [61]:
data_cage = data[data.cast.str.contains("Nicolas Cage")]  # фильмы с Nicolas Cage
Counter(data_cage.genres.str.cat(sep='|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [62]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [63]:
data_18 = data[(data.production_companies.str.contains('Paramount Pictures'))]  # фильмы от Paramount Pictures
data_18.sort_values('profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,release_season,title_length,overview_word
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,7,summer,20,23

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [64]:
answers['19'] = '5. 2015'

In [65]:
data_year = data.groupby(['release_year'])['revenue'].sum().sort_values()  # сортированная таблица с прибылью по годам 
data_year.index[-1]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [66]:
answers['20'] = '1. 2014'

In [67]:
data_warner = data[(data.production_companies.str.contains('Warner Bros'))]  # фильмы студии Warner Bros
data_warner.groupby(['release_year'])['profit'].sum().sort_values().index[-1]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [68]:
answers['21'] = '4. Сентябрь'

In [69]:
movies_month = data.groupby(['release_month'])['original_title'].count()  # группировка релизов по месяцам
movies_month.sort_values().index[-1]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [70]:
answers['22'] = '2. 450'

In [71]:
data.groupby(['release_season'])['original_title'].count()['summer']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [72]:
answers['23'] = '5. Peter Jackson'

In [73]:
data_winter = data[(data.release_season == 'winter')]  # зимние релизы
Counter(data_winter.director.str.cat(sep='|').split('|')).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [74]:
answers['24'] = '5. Four By Two Productions'

In [75]:
data.production_companies = data.production_companies.str.split('|')  # разделение информации о студиях
data_companies = data.explode('production_companies')  # датасет с дублированными фильмами, снятые несколькими компаниями 
data_24 = data_companies.groupby(['production_companies'])
data_24.title_length.mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: title_length, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [76]:
answers['25'] = '3. Midnight Picture Show'

In [77]:
data_24.overview_word.mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Heineken Branded Entertainment           161.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
Henceforth                                13.0
Our Stories Films                         13.0
London Boulevard                          13.0
Motion Picture Corporation of America     11.0
Empire Pictures                           11.0
Name: overview_word, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [78]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [79]:
best_movies = data[data.vote_average > data.vote_average.quantile(0.99)]  # фильмы, не входящие в 99-ый процентиль
best_movies.sort_values('vote_average', ascending=False).original_title

599                                   The Dark Knight
9                                          Inside Out
34                                               Room
118                                      Interstellar
125                                The Imitation Game
119                           Guardians of the Galaxy
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [80]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 1

In [81]:
data.cast = data.cast.str.split('|')  # разделение информации о актёрском составе
data_pair = data.copy()
data_pair.cast = data_pair.cast.apply(
    lambda x: list(combinations(sorted(x), 2)))  # перебор пар актёров, снимающихся вместе
data_pair.explode('cast').cast.mode()

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
2         (Emma Watson, Rupert Grint)
dtype: object

# Submission

In [82]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [83]:
# и убедиться что ни чего не пропустил)
len(answers)

27